<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>

<h2>Add User</h2>

<div th:if="${errorMessage}" style="color:red">
    <p th:text="${errorMessage}"></p>
</div>

<form th:action="@{/admin/newUser}" th:object="${user}" method="post">

    <input type="hidden" th:field="*{id}" />

    <div class="form">
        <label>Username:</label>
        <input type="text" th:field="*{username}" required size="25"/>
        <div th:if="${#fields.hasErrors('username')}"
             th:errors="*{username}" style="color:red"></div>
    </div>

    <div class="form">
        <label>Surname:</label>
        <input type="text" th:field="*{usersurname}" required size="25"/>
        <div th:if="${#fields.hasErrors('usersurname')}"
             th:errors="*{usersurname}" style="color:red"></div>
    </div>

    <div class="form">
        <label>Age:</label>
        <input type="number" th:field="*{age}" required size="25"/>
        <div th:if="${#fields.hasErrors('age')}"
             th:errors="*{age}" style="color:red"></div>
    </div>

    <div class="form">
        <label>Email:</label>
        <input type="text" th:field="*{email}" required size="25"/>
        <div th:if="${#fields.hasErrors('email')}"
             th:errors="*{email}" style="color:red"></div>
    </div>

    <div class="form">
        <label>Password:</label>
        <input type="password" th:field="*{password}" required size="25" />
        <div th:if="${#fields.hasErrors('password')}"
             th:errors="*{password}" style="color:red"></div>
    </div>
    <br/>

    <button type="submit">Save</button>
</form>

<br>

<a th:href="@{/admin}">
    <button type="button">Back</button>
</a>

</body>
</html>
