<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>User Page</title>
</head>
<body>

<h2>User Info</h2>

<td>
    <div>ID: <span th:text="${user.id}"></span></div> <br>
    <div>Username: <span th:text="${user.username}"></span></div><br>
    <div>First name: <span th:text="${user.firstName}"></span></div><br>
    <div>Last name: <span th:text="${user.lastName}"></span></div><br>
    <div>Age: <span th:text="${user.age}"></span></div><br>
    <div>Email: <span th:text="${user.email}"></span></div><br>

    <div>
        Roles:
        <span th:each="role : ${user.roles}"
              th:text="${role.name} + ' '">
        </span>
    </div>
</td>

<br>

<form th:action="@{/logout}" method="post">
    <input type="hidden"
           th:name="${_csrf.parameterName}"
           th:value="${_csrf.token}" />
    <button type="submit">Logout</button>
</form>

</body>
</html>